@import '../../styles/colors';
@import '../../styles/card';

.vehicles-list {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  margin: unset;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 540px) {
    padding: 0 4%;
  }

  .vehicles-list__list {
    list-style: none;
    display: grid;
    margin: 10px auto;
    max-width: 1200px;
    width: 100%;
    padding-left: 0;
  }

  .ul-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 17px 17px;
  }

  .ul-list {
    grid-template-columns: auto;
    grid-gap: 14px 0;
  }
}
