@import '../../styles/colors';
@import '../../styles/card';

.vehicles-list {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  margin: unset;

  .vehicles-list__list {
    margin-left: 0;
    padding-left: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
  }

  .ul-grid {
    flex-direction: row;
  }

  .ul-list {
    flex-direction: column;
  }
}
