@import '../../styles/colors';
@import '../../styles/card';

.vehicles-list {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  margin: unset;
  justify-content: center;
  align-items: center;

  .vehicles-list__list {
    list-style: none;
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding-left: 0;
  }

  .ul-grid {
    flex-direction: row;
  }

  .ul-list {
    flex-direction: column;
  }
}
