@import '../../styles/colors';
@import '../../styles/card';

.vehicles-list__item {
  @include card($grey, #fff);
  margin: 10px;
  padding: 2px;
  width: 300px;
  height: 200px;
  cursor: pointer;

  h3 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1.1rem;
    font-weight: 500;

    span {
      font-weight: normal;
      padding: 0 10px;
    }
  }
}
