$dark: hsl(217,28,18);
$dark-grey: hsl(219,7,30);
$grey: hsl(219,7,63);
$light-grey: hsl(219,7,78);
$dark-brown: hsl(32,28,40);
$brown: hsl(32,28,60);
$light-brown: hsl(32,28,65);
$dark-gold: hsl(38, 58, 45);
$gold: hsl(38,58,64);
$light-gold: hsl(38, 58, 70);
$white: hsl(51,18,86);
$dark-red: hsl(0,32,34);
$red: hsl(0,32,44);
$light-red: hsl(0,32,54);
