@import '../../styles/colors';
@import '../../styles/button';

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $dark;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-width: 631px) {
    z-index: 10;
    position: fixed;
  }
  
  .header__title {
    flex: 4;
    padding: 0 15px;
    text-align: start;

    h2 {
      font-size: 1.4rem;
    }
  }
}
