.App {
  height: 100%;
  width: 100%;
  text-align: center;

  .app-body {
    padding: 10px 20px;
    align-items: center;

    @media screen and (max-width: 631px) {
      position: relative;
      top: 12%;
    }
  }
}
