@import '../../styles/colors';
$paging-font: 1.4rem;

.vehicles-list__paging {
  display: flex;
  padding: 10px 15%;
  justify-content: center;
  align-items: center;
  font-size: $paging-font;
  text-align: end;
  color: $dark-grey;

  .page-number {
    margin: 0 2px;
    display: inline;
    width: $paging-font;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }

  .current-page {
    background-color: $dark;
    color: $light-grey;
  }

  a {
    margin: 0 10px;
    display: inline-flex;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: $light-grey;
      border-radius: 4px;
    }
  }
}
